<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="home">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
       <!--  <nav class="links">
            <a href="https://google.com.ar" target="_blank"><img src="/images/chrome.png" alt=""></a>
            <a href="https://ole.com.ar" target="_blank"><img src="/images/ole.jpg" alt=""></a>
        </nav> -->
    </header>
    <section>
        <h1>Home</h1>
        <div class="jennifer">La mejor alumna!!</div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla blanditiis sapiente nostrum impedit modi, quae amet adipisci, temporibus odit facere porro, sequi doloribus et delectus nam dolorem optio quidem id!</p>
    </section>
</body>
</html>